<!-- each category page -->
{% if page.type %}
<div class="archive">
  <p class="archive_type">{{ page.type }}</p>
  <ul>
    {% for post in site.categories[page.type] %}
    {% if post.url %}
    <li class="archive_item">
      <div class="archive_image">
        <a href="{{ '/assets/img/' | relative_url }}{{ post.img }}" target="_blank">
          <img src="{{ '/assets/img/' | relative_url }}{{ post.img }}" alt="{{ post.title }}">
        </a>
      </div>
      <div class="archive_details">
        <div class="archive_title">
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </div>
      </div>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<!-- main page -->
{% else %}
<div class="archive">
  {% for post in site.posts %}
  {% unless post.next %}
  <p class="archive_year">{{ post.date | date: '%Y' }}</p>
  {% else %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nextyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nextyear %}
  <p class="archive_year">{{ post.date | date: '%Y' }}</p>
  {% endif %}
  {% endunless %}

  <ul class="archive_list">
    <li class="archive_item">
      <div class="archive_image">
        <img src="{{ '/assets/img/' | relative_url }}{{ post.img }}" alt="{{ post.title }}" height="255" width="480">
      </div>
      <div class="archive_details">
        <div class="archive_title">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </div>
      </div>
    </li>
  </ul>
  {% endfor %}
</div>
{% endif %}

