---
layout: page
---

<div class="post">
  <div class="post_header">
    {% if page.title %}
    <p class="post_title">{{ page.title }}</p>
    {% endif %}
  
    {% if page.author %}
    <span class="post_author">{{ page.author }}</span>
    {% endif %}
  
    {% if page.info %}
    <span class="post_info">{{ page.info }}</span>
    {% endif %}
  </div>

  <div class="post_content_wrapper">
    <div class="post_image">
      <img src="{{ page.image }}" alt="Post Image">
    </div>
    <div class="post_content">
      {{ content }}
    </div>
  </div>

  {% if page.comment %}
  <div class="post_comment">
    {% include disqus.html username = site.disqus.shortname %}
    {% include cusdis.html %}
  </div>
  {% endif %}
</div>
